node_modules/node-sass/src/.DS_Store
node_modules/nodemon/node_modules/extglob/lib/.DS_Store
node_modules/nodemon/node_modules/micromatch/lib/.DS_Store
node_modules/readdirp/node_modules/extglob/lib/.DS_Store
node_modules/readdirp/node_modules/micromatch/lib/.DS_Store
node_modules/watchpack/node_modules/extglob/lib/.DS_Store
node_modules/watchpack/node_modules/micromatch/lib/.DS_Store
variables.env
.DS_Store